* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#container {
  height: auto;
  width: 70%;
  border-radius: 10px;
  background: url("./images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding-bottom: 3rem;
}

#container .nav {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

#container .nav span {
  font-size: 18px;
  background-color: #f7f8fe;
  border-radius: 5px;
}

#container .nav span .ri-menu-line {
  color: blue;
}

#container .nav .sun {
  font-size: 18px;
  background-color: #f7f8fe;
  border-radius: 5px;
}

#container .features {
  width: 100%;
  height: 100px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

#container .features .leftSide {
  width: 45%;
  height: auto;
}

#container .features .search {
  width: 65%;
  height: 50px;
  border-radius: 50px;
  box-shadow:
    0 4px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 15px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding-left: 1rem;
}

#container .features .search input {
  outline: none;
  border: none;
  background: transparent;
  padding-left: 0.5rem;
}

#container .features input:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: lightgray;
  font-size: 14px;
}

#container .features .rightSide {
  width: 45%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#container .features .rightSide .filter {
  width: 40%;
  height: 35px;
  background-color: transparent;
  border-radius: 50px;
  box-shadow:
    0 4px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 15px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

#container .features .rightSide .filter span .ri-arrow-drop-down-line {
  font-size: 25px;
}

#container .features .rightSide .sort {
  width: 10%;
  height: 35px;
  background-color: transparent;
  border-radius: 50px;
  box-shadow:
    0 4px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 15px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .cards {
  width: 100%;
  min-height: 50vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}

#container .cards .card {
  width: 24%;
  height: 24rem;
  border-radius: 1.5rem;
  background-color: #f7f8fe;
}

#container .cards .card1 {
  box-shadow: 0 5px 3px rgb(72, 158, 72);
}

#container .cards .card1 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: rgb(179, 177, 177);
}

#container .cards .card1 .top .heart {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .cards .card1 .middle {
  padding-left: 0.6rem;
  padding-top: 1rem;
  font-weight: bold;
}

#container .cards .card1 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.6rem;
}

#container .cards .card1 .bottom .type-badge {
  background-color: #d4ebc0;
  padding: 0.1rem 1rem;
  border-radius: 15px;
  color: green;
  font-size: 12px;
  font-weight: 700;
}

#container .cards .card1 .bottom .type-badge .type-icon {
  font-size: 18px;
}

#container .cards .card1 .bottom .arrow {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

#container .cards .card2 {
  box-shadow: 0 5px 3px gray;
}

#container .cards .card2 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: rgb(179, 177, 177);
}

#container .cards .card2 .top .heart {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .cards .card2 .middle {
  padding-left: 0.6rem;
  padding-top: 1rem;
  font-weight: bold;
}

#container .cards .card2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.6rem;
}

#container .cards .card2 .bottom .type-badge {
  background-color: #e8e4e4;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  color: navy;
  font-size: 12px;
  font-weight: 700;
}

#container .cards .card2 .bottom .type-badge .type-icon {
  font-size: 13px;
}

#container .cards .card2 .bottom .arrow {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

#container .cards .card3 {
  box-shadow: 0 5px 3px rgb(170, 102, 102);
}

#container .cards .card3 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: rgb(179, 177, 177);
}

#container .cards .card3 .top .heart {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .cards .card3 .middle {
  padding-left: 0.6rem;
  padding-top: 1rem;
  font-weight: bold;
}

#container .cards .card3 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.6rem;
}

#container .cards .card3 .bottom .type-badge {
  background-color: #e2cecb;
  padding: 0.2rem 1rem;
  border-radius: 15px;
  color: green;
  font-size: 12px;
  font-weight: 700;
}

#container .cards .card3 .bottom .type-badge .type-icon {
  font-size: 18px;
}

#container .cards .card3 .bottom .arrow {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

#container .cards .card4 {
  box-shadow: 0 5px 3px rgb(73, 73, 143);
}

#container .cards .card4 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: rgb(179, 177, 177);
}

#container .cards .card4 .top .heart {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .cards .card4 .middle {
  padding-left: 0.6rem;
  padding-top: 1rem;
  font-weight: bold;
}

#container .cards .card4 .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.6rem;
  width: 100%;
}

#container .cards .card4 .bottom .type-badge {
  background-color: #d7daef;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  color: green;
  font-size: 12px;
  font-weight: 700;
}

#container .cards .card4 .bottom .type-badge .type-icon {
  font-size: 18px;
  color: #4da6ff;
}

#container .cards .card4 .bottom .arrow {
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}

#container .showcase {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #f7f8fe;
  border-radius: 10px;
  margin-top: 5rem;
  padding: 0 1rem;
}

#container .showcase .cell1 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container .showcase .cell1 .left {
  background-color: #d4ebc0;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .showcase .cell1 .right {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1rem;
}

#container .showcase .cell1 .right p {
  font-weight: bold;
}

#container .showcase .cell1 .right span {
  margin-top: 0.1rem;
  color: #808080;
}

#container .showcase .cell2 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container .showcase .cell2 .left {
  background-color: #e8e4e4;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .showcase .cell2 .right {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1rem;
}

#container .showcase .cell2 .right p {
  font-weight: bold;
}

#container .showcase .cell2 .right span {
  margin-top: 0.1rem;
  color: #808080;
}

#container .showcase .cell3 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container .showcase .cell3 .left {
  background-color: #e2cecb;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .showcase .cell3 .right {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1rem;
}

#container .showcase .cell3 .right p {
  font-weight: bold;
}

#container .showcase .cell3 .right span {
  margin-top: 0.1rem;
  color: #808080;
}

#container .showcase .cell4 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container .showcase .cell4 .left {
  background-color: #d7daef;
  padding: 0.4rem;
  border-radius: 50%;
}

#container .showcase .cell4 .right {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1rem;
}

#container .showcase .cell4 .right p {
  font-weight: bold;
}

#container .showcase .cell4 .right span {
  margin-top: 0.1rem;
  color: #808080;
}

#container .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#container .footer svg {
  opacity: 0.3;
}

#container .footer p {
  color: gray;
  margin-top: 0.3rem;
}
