* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#container {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
  background-color: black;
  padding: 1rem;
}

#container .card {
  border-radius: 20px;
  background-color: #18181a;
  overflow: hidden;
}

#container .card.card1 {
  grid-row: span 2;
  background-image: url("./images/img1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #964cf0;
}

#container .card.card2 {
  grid-row: span 2;
  background-image: url("./images/img2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#container .card.card3 {
  grid-row: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#container .card.card3 .list-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

#container .card.card3 .list-top .list1 {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

#container .card.card3 .list-top .list2 {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

#container .card.card3 .list-top .list3 {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

#container .card.card3 .list-top .list4 {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  background-color: #443f3f;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

#container .card.card3 .list4 .left span i {
  color: #c4ff00;
}

#container .card.card3 .list4 .right span i {
  margin-left: 6rem;
  font-size: 20px;
  color: #a155f3;
}

#container .card.card3 .list-top .list5 {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

#container .card.card3 .list-top .list6 {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

#container .card.card3 .list1 .left span .ri-gallery-view-2 {
  color: #fff;
}

#container .card.card3 hr {
  width: 80%;
  margin: auto;
  border: none;
  border-top: 0.1px solid #e5dfdf;
}

#container .card.card3 .list-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#container .card.card3 .list-bottom .list7 {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

#container .card.card4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #a155f3, #793dd0);
}

#container .card.card4 .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#container .card.card4 .left i {
  font-size: 35px;
}

#container .card.card4 .left span {
  font-size: 12px;
}

#container .card.card4 hr {
  height: 2rem;
  border: 0.1px solid #ccc;
}

#container .card.card4 .right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#container .card.card4 .right i {
  font-size: 35px;
}

#container .card.card4 .right span {
  font-size: 12px;
}

#container .card.card5 {
  grid-row: span 3;
  background-image: url("./images/img3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container .card.card6 {
  grid-row: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6f157;
  width: 100%;
  gap: 3rem;
}

#container .card.card6 .card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}

#container .card.card6 .card-top h1 {
  text-transform: uppercase;
  font-size: 60px;
}

#container .card.card6 .card-top p {
  text-transform: uppercase;
  color: #9e58e3;
  font-size: 20px;
  margin-top: 0.3rem;
}

#container .card.card6 hr {
  width: 80%;
  border: 0.1px solid #cccc;
}

#container .card.card6 .card-bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#container .card.card6 .card-bottom .card-top-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

#container .card.card6 .card-bottom .card-top-bottom p {
  font-size: 20px;
}

#container .card.card7 {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

#container .card.card7 .top {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-left: 2rem;
}

#container .card.card7 .top img {
  border-radius: 50%;
  overflow: hidden;
}

#container .card.card7 .top p {
  color: #ccc;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.6;
}

#container .card.card7 .middle {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-left: 2rem;
}

#container .card.card7 .middle p {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 33px;
}

#container .card.card7 .bottom {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-left: 2rem;
}

#container .card.card7 .bottom p {
  color: #ccc;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.6;
}

#container .card.card8 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#container .card.card8 .icon {
  width: 100px;
  height: 80px;
  background-image: url("./images/img4.png");
  background-size: 300%;
  background-position: center;
}

#container .card.card9 {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 0.3rem;
}

#container .card.card9 .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}

#container .card.card9 .left .top h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 40px;
}

#container .card.card9 .left .bottom p {
  font-weight: 600;
  color: slategray;
  font-size: 20px;
}

#container .card.card9 .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

#container .card.card9 .right .top h1 {
  font-size: 60px;
}

#container .card.card9 .right .top h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .card.card9 .right .top span i {
  font-size: 25px;
  color: #c4ff00;
}

#container .card.card9 .right .bottom button {
  background-color: #8c47e3;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  border: none;
}

#container .card.card9 .right .bottom button span i {
  font-size: 40px;
}

#container .card.card10 {
  background-color: #d7f259;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
}

#container .card.card10 .center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: black;
  gap: 0.3rem;
}

#container .card.card10 .center .top {
  font-size: 18px;
  font-weight: 700;
}

#container .card.card10 .center .bottom {
  font-size: 10px;
  font-weight: 500;
}

#container .card.card10 .right {
  font-size: 25px;
  align-self: flex-start;
  color: black;
}
